.contact {
	padding-top: 60px;
	padding-bottom: 80px;
	background-color: $bgGray;
	
	h2 {
		color: $mainText;
	}

	p, a {
		display: block;
		color: $mainText;
		font-family: $sansSerif;
		font-size: 1.2rem;
		text-align: center;
		margin-top: 20px;
		font-weight: 300;

	}

	a {
		text-decoration: none;
		transition: all 0.5s;

		.fa {
			margin-right: 6px;
			font-size: 1.5rem;
		}

		&:hover {
			color: $yellow;
			transform: scale(1.2);
		}
	}

	.contactInfo {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		@include respond-to ("small") {
			display: block;
		}
	}
}