.main {
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	p {
		font: $sansSerif;
		font-size: 1.2rem;
		font-weight: 300;
	}
	.outerCircle {
		position: relative;
		min-width: 440px;
		min-height: 440px;
		border-radius: 50%;
		background-image: url("../../assets/profile_pam_lau_sm.jpg");
		background-repeat: no-repeat;
		background-position: 10% 10%;
		
		.innerCircle {
			min-width: 150px;
			min-height: 150px;
			transform: rotate(30deg);
			border-radius: 40%;
			border: 2px solid $yellow;
			background-color: white;
			position: absolute;
			top: 63%;
			left: 72%;
			box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
			
			.fa {
				color: $yellow;
				transform: rotate(-30deg);
				font-size: 3.5rem;
				margin-top: 46px;
				margin-left: 44px;
			}	

			// &:before {
			// 	content:"";
			// 	position: absolute;
			// 	width: 200%;
			// 	height: 200%;
			// 	top: -50%;
			// 	left: 3%;
			// 	background: url("../../assets/noun_proj_clip.svg") 0 0 no-repeat;
			// 	background-size: 30%;
			// 	transform: rotate(50deg);
			// 	z-index: 10;
			// }
		}
	}

	.mainText {
		width: 40%;

		p {
			font-size: 1.2rem;
			font-family: $sansSerif;
			line-height: 140%;
		}

		.mainButton {
			background-color: $yellow;
			margin-top: 20px;
			font-size: 1.2rem;
			width: 164px;
			height: 52px;
			color: white;
			border-radius: 4px;
			border: none;
			box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
			transition: all 0.5s;

			&:hover {
				background-color: $yellowDark;
			}
		}
	}
}