.portfolio {
	// background-image: url("../../assets/yellow3.png");
	// background-color: $yellow;
	// padding: 20px;
	padding-top: 50px;
	padding-bottom: 60px;
	
	.buttonContainer {

		@include respond-to("xlarge") {
			width: 49%;
		};
		display: flex;
		width: 75%;
		justify-content: space-between;
		// border: 1px solid blue;

		@include respond-to("medium") {
			width: 90%;
		}

		@include respond-to("small") {
			width: 87%;
		}
	}

	.portfolioContainer{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		justify-content: space-around;
		// border: 1px solid blue;
		padding-top: 60px;
		padding-bottom: 60px;

		@include respond-to("small") {
			flex-direction: column-reverse;
			align-items: center;
		}

	}

	.portfolioContainerR {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		// border: 1px solid blue;
		padding-top: 60px;
		padding-bottom: 60px;

		@include respond-to("small") {
			flex-direction: column-reverse;
			align-items: center;
		}
	}

		.portfolioText {
			display: flex;
			flex-direction: column;
			width: 40%;

			@include respond-to("small") {
				width: 90%;
				align-items: center;
			}
			// border: 1px solid green;

			h3 {
				color: $yellow;
				font-family: $sansSerif;
				margin-top: 5px;
				// margin-bottom: 50px;
				// font-weight: 400;
				@include respond-to("medium") {
					font-size: 1.7rem;
				}
			}

			p {
				font-size: 1.2rem;
				line-height: 1.5;
				font-family: $sansSerif;
				font-weight: 300;
				margin-top: 0;

				@include respond-to("small") {
					font-size: 1rem;
				}
			}
			
			.sqContainer {
				@include respond-to("xlarge") {
					width: 39%;
				};
				display: flex;
				justify-content: space-between;
				width: 60%;
				margin-top: 7px;

				@include respond-to("medium") {
					width: 65%;
				}

				@include respond-to("small") {
					width: 60%;
				}
			}

			.sqContainerLarge {
				@include respond-to("xlarge") {
					width: 90%;
				}
				display: flex;
				justify-content: space-between;
				width: 114%;
				margin-top: 7px;

				@include respond-to("medium") {
					width: 100%;
					justify-content: flex-start;
					flex-wrap: wrap;
				}

				// @include respond-to("small") {
				// 	width: 60%;
				// }
			}

			.portfolioSq {
				background-color: $hoverGray;
				background-color: $yellow;
				width: 60px;
				height: 60px;
				border-radius: 40%;
				transform: rotate(30deg);
				position: relative;

				@include respond-to("medium") {
					margin-top: 10px;
					margin-left: 10px;
				}
				span {
					position: absolute;
					text-transform: uppercase;
					// letter-spacing: 0.5em;
					top: 23px;
					left: 14px;
					font-size: 0.7rem;
					// color: white;
					color: $mainText;
					display: inline-block;
					transform: rotate(-30deg);
					// padding-top: 23px;
					// padding-left: 5px;
				}

				.js {
					// position: absolute;
					left: -3px;
				}

				.jquery {
					left: 6px;
				}

				.firebase {
					left: 2px;
				}
			}

			.portfolioButton {
				background-color: transparent;
				margin-top: 28px;
				display: inline-block;
				text-decoration: none;
				font-size: 1rem;
				width: 137px;
				height: 45px;
				color: $mainText;
				border-radius: 4px;
				border: 2px solid $hoverGray;
				transition: all 0.5s;
				padding-top: 12px;
				text-align: center;
				transition: all 1s;

				&:hover {
					background-color: $mainText;
					color: white;
				}
			}
		}
		
		.portfolioCl {
			border-radius: 50%;
			width: 400px;
			height: 400px;
			// background-image: url("../../assets/responsive_proj.png")
			@include respond-to("small") {
				margin-bottom: 20px;
				width: 300px;
				height: 300px;
			}

		}

		.clPdf {
			background-image: url("../../assets/responsive_proj.png");
		}

		.clBooksMovies {
			background-image: url("../../assets/books_movies.jpg");
		}

		.clRecList {
			background-image: url("../../assets/rec_lists.jpg");	
		}

		.clDragon {
			background-image: url("../../assets/dragon_slayer.jpg")
		}
}

// sad, have to get rid of my fancy square image:
		// .portfolioSq {
		// 	background-color: $gray;
		// 	position: relative;
		// 	overflow: hidden;
		// 	min-width: 390px;
		// 	min-height: 390px;
		// 	border-radius: 40%;
		// 	transform: rotate(30deg);
		// 	margin-top: 30px;
		// 	margin-left: 30px;
		// 	&:before {
		// 		content:"";
		// 		position: absolute;
		// 		width: 200%;
		// 		height: 200%;
		// 		top: -50%;
		// 		left: 3%;
		// 		background: url("../../assets/responsive_proj.png") 0 0 no-repeat;
		// 		transform: rotate(-30deg);
		// 	}
		// }