.portfolio {
	// background-image: url("../../assets/yellow3.png");
	// background-color: $yellow;
	// padding: 20px;
	// padding-top: 50px;
	padding-top: 100px;
	padding-bottom: 60px;

	@include respond-to("small") {
		padding-top: 70px;
	}
	
	.portfolioImage {
		max-width: 100%;
		img {
			max-width: 100%;
		}
		@include respond-to("medium") {
			max-width: 50%;
		}
	}

	.buttonContainer {

		@include respond-to("xlarge") {
			width: 49%;
		};
		display: flex;
		width: 75%;
		justify-content: space-between;
		// border: 1px solid blue;

		@include respond-to("medium") {
			width: 90%;
		}

		@include respond-to("small") {
			width: 87%;
		}
	}

	.portfolioContainer{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		justify-content: space-around;
		// border: 1px solid blue;
		padding-top: 60px;
		padding-bottom: 60px;
		
		@include respond-to("medium") {
			align-items: center;
		}

		@include respond-to("small") {
			flex-direction: column-reverse;
			align-items: center;
			padding-top: 40px;
		}

	}

	.portfolioContainerR {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		// border: 1px solid blue;
		padding-top: 60px;
		padding-bottom: 60px;

		@include respond-to("medium") {
			align-items: center;
		}

		@include respond-to("small") {
			flex-direction: column-reverse;
			align-items: center;
			padding-top: 40px;
		}
	}

		.portfolioText {
			display: flex;
			flex-direction: column;
			width: 40%;

			@include respond-to("small") {
				width: 90%;
				align-items: center;
			}
			// border: 1px solid green;

			h3 {
				color: $yellow;
				font-family: $sansSerif;
				margin-top: 5px;
				// margin-bottom: 50px;
				// font-weight: 400;
				@include respond-to("medium") {
					font-size: 1.5rem;
				}
			}

			p {
				font-size: 1.2rem;
				line-height: 1.5;
				font-family: $sansSerif;
				font-weight: 300;
				margin-top: 0;

				@include respond-to("medium") {
					font-size: 1rem;
				}
			}
			
			.sqContainer {
				@include respond-to("xlarge") {
					width: 39%;
				};
				display: flex;
				justify-content: space-between;
				width: 50%;
				margin-top: 7px;

				@include respond-to("medium") {
					width: 65%;
				}

				@include respond-to("small") {
					width: 60%;
				}
			}

			.sqContainerLarge {
				@include respond-to("xlarge") {
					width: 90%;
				}
				display: flex;
				justify-content: space-between;
				width: 114%;
				margin-top: 7px;

				@include respond-to("medium") {
					width: 100%;
					flex-wrap: wrap;
				}

				// @include respond-to("small") {
				// 	width: 60%;
				// }
			}

			.portfolioSq {
				// background-color: $hoverGray;
				// // background-color: $yellow;
				// width: 60px;
				// height: 60px;
				// border-radius: 40%;
				// // transform: rotate(30deg);
				// position: relative;

				// @include respond-to("medium") {
				// 	margin-top: 10px;
				// 	margin-left: 10px;
				// }
				span {
					// position: absolute;
					text-transform: uppercase;
					// letter-spacing: 0.5em;
					// top: 23px;
					// left: 14px;
					font-size: 0.8rem;
					// color: white;
					color: $mainText;
					display: inline-block;
					// transform: rotate(-30deg);
					// padding-top: 23px;
					// padding-left: 5px;
				}

				// .js {
				// 	// position: absolute;
				// 	left: -3px;
				// }

				// .jquery {
				// 	left: 6px;
				// }

				// .firebase {
				// 	left: 2px;
				// }
			}

			.portfolioButton {
				// background-color: transparent;
				background-color: $yellow;
				margin-top: 28px;
				display: inline-block;
				text-decoration: none;
				font-size: 1rem;
				width: 137px;
				height: 45px;
				// color: $mainText;
				color: white;
				border-radius: 4px;
				// border: 2px solid $hoverGray;
				// border: 2px solid $yellow;
				box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
				transition: all 0.5s;
				padding-top: 12px;
				text-align: center;
				transition: all 0.7s;

				@include respond-to("medium") {
					width: 120px;
					height: 40px;
					font-size: 0.7rem;
				}

				&:hover {
					// background-color: $mainText;
					background-color: $yellowDark;
					color: white;
				}
			}
		}
		
		.portfolioCl {
			// border-radius: 50%;
			width: 400px;
			height: 400px;
			// background-image: url("../../assets/responsive_proj.png")
			@include respond-to("small") {
				margin-bottom: 20px;
				width: 280px;
				height: 280px;
			}

		}

		.clPdf {
			background-image: url("../../assets/responsive_proj2.png");
		}

		.clBooksMovies {
			background-image: url("../../assets/books_movies.jpg");
		}

		.clRecList {
			background-image: url("../../assets/rec_lists.jpg");	
		}

		.clDragon {
			background-image: url("../../assets/dragon_slayer.jpg")
		}
}

