.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	// border: 1px solid blue;
	margin-top: 110px;
	margin-bottom: 0;
	padding-bottom: 30px;
	padding-top: 15px;
	background-color: rgba(245,245,245,0.7);
	// background-image: url("../../assets/climpek.png");
	// note: maybe bg needs an opacity. Make it more subtle.
	background-repeat: repeat;
	
	h2 {
		margin-bottom: 11px;
	}
	
	.skContainer {
		display: flex;
		flex-wrap: wrap;
		// flex-direction: column;
		justify-content: center;
		// margin: 0 auto;
		width: 100%;
		// min-height: 250px;
		// border: 1px solid red;
		// flex-wrap: wrap;
		
		@include respond-to("small") {
			display: none;
		}


		.row {
			// border: 1px solid blue;
			display: flex;
			justify-content: space-around;
			// margin-left: 40px;
			// padding-bottom: 20px;
			// padding-top: 20px;

			@include respond-to("xlarge") {
				margin-left: 0px;
			}
		}

		.rowTwo {
			display: flex;
			// align-self: flex-end;
			// margin-left: -40px;
			// border: 1px solid red;

			@include respond-to("xlarge") {
				margin-left: 0px;
			}
		}

		@include respond-to("small") {
			width: 100%;
		};

		
	}

	.skillsSquare {
		position: relative;
		// background-color: $yellow;
		width: 90px;
		height: 90px;
		margin: 20px;
		border-radius: 40%;
		// transform: rotate(30deg);
		// margin-top: 30px;
		// margin-left: 30px;

		@include respond-to("small") {
			width: 60px;
			height: 60px;
		}
		
		.devIcon {
			fill: $yellow;
			position: absolute;
			// transform: rotate(-30deg);
			left: 20px;
			top: 20px;
			width: 70px;
			height: 70px;
			display: block;

			@include respond-to("small") {
				width: 60px;
				height: 60px;
				left: -1px;
				top: -4px;
			}
		}

		p {
			transform: rotate(-30deg);
			position: absolute;
			top: 40px;
		}


	}

	.skContainerSmall {
		display: none;

		@include respond-to("small") {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}
		
		.git {
			@include respond-to("small") {
				display: none;
			}
		}
	}


}




	// .gitHubContainer {
	// 	position: relative;

	// 	.gitHubIcon {
	// 		fill: white;
	// 		position: absolute;
	// 		transform: rotate(-30deg);
	// 		left: 20px;
	// 		top: 20px;
	// 		width: 60px;
	// 		height: 60px;
	// 	}

	// 	&:after {
	// 		// border: 1px solid blue;
	// 		font-size: 1.4rem;
	// 		font-family: $displayFont;
	// 		width: 100px;
	// 		top: 100px;
	// 		left: 45px;
	// 		position: absolute;
	// 		content: "Git Hub";
	// 		display: inline-block;
	// 		transform: rotate(-30deg);
	// 	}		
	// }