.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	// border: 1px solid blue;
	margin-top: 100px;
	margin-bottom: 0;
	padding-bottom: 60px;
	padding-top: 50px;
	background-color: rgba(245,245,245,0.7);
	// background-image: url("../../assets/climpek.png");
	// note: maybe bg needs an opacity. Make it more subtle.
	background-repeat: repeat;
	
	.skContainer {
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
		// margin: 0 auto;
		width: 800px;
		min-height: 250px;
		// border: 1px solid red;
		// flex-wrap: wrap;
		
		.rowOne {
			// border: 1px solid blue;
			display: flex;
			justify-content: space-around;
			padding-bottom: 20px;
			padding-top: 20px;

		}

		@include respond-to("small") {
			width: 100%;
		};

		.skillsSquare {
			position: relative;
			background-color: $yellow;
			min-width: 100px;
			min-height: 100px;
			margin: 20px;
			border-radius: 40%;
			transform: rotate(30deg);
			// margin-top: 30px;
			// margin-left: 30px;

			@include respond-to("small") {
				min-width: 80px;
				min-height: 80px;
			}

			.devIcon {
				fill: white;
				position: absolute;
				transform: rotate(-30deg);
				left: 20px;
				top: 20px;
				width: 60px;
				height: 60px;
				display: block;

				@include respond-to("small") {
					width: 48px;
					height: 48px;
					left: 17px;
					top: 16px;
				}
			}

			p {
				transform: rotate(-30deg);
				position: absolute;
				top: 40px;
			}

		}
	}


}




	// .gitHubContainer {
	// 	position: relative;

	// 	.gitHubIcon {
	// 		fill: white;
	// 		position: absolute;
	// 		transform: rotate(-30deg);
	// 		left: 20px;
	// 		top: 20px;
	// 		width: 60px;
	// 		height: 60px;
	// 	}

	// 	&:after {
	// 		// border: 1px solid blue;
	// 		font-size: 1.4rem;
	// 		font-family: $displayFont;
	// 		width: 100px;
	// 		top: 100px;
	// 		left: 45px;
	// 		position: absolute;
	// 		content: "Git Hub";
	// 		display: inline-block;
	// 		transform: rotate(-30deg);
	// 	}		
	// }