// fonts and colors
$displayFont: 'Bitter', serif;
$sansSerif: 'Lato', sans-serif;

$logoOne: 'Macondo', cursive;
// $logoTwo: 'Averia Serif Libre', cursive;
// $logoThree: 'Cherry Swash', cursive;

$yellow: #fcd559;
$yellowDark: #c6a426;
$blue: #52bae0;
$mainText: #4f4f4f;
$bgGray: #f3f3f3;

$gray: #e4e4e4;
// all reg/unselected tabs and gray text
$hoverGray: #909090;
// hover over any gray thing - also active tabs
// also the main color for header nav buttons
$hoverGrayNav: #4f4f4f;

// NB: Regular buttons that are gray (not yellow) are $bgBray as well
// arrows on buttons are $hoverGray and then when hovered, they turn white

$borders: #e8e8e8;
// thin borders and frames at top. Also the circles at the top


